body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1034px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:152px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  position:absolute;
  left:211px;
  top:100px;
  width:185px;
  height:152px;
}
#u306 {
  position:absolute;
  left:2px;
  top:36px;
  width:181px;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u307 {
  position:absolute;
  left:54px;
  top:146px;
  width:100px;
  height:60px;
}
#u308 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:154px;
  top:176px;
  width:0px;
  height:0px;
}
#u309_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u309_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u310 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  position:absolute;
  left:522px;
  top:146px;
  width:103px;
  height:60px;
}
#u312 {
  position:absolute;
  left:2px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:396px;
  top:176px;
  width:0px;
  height:0px;
}
#u313_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u313_seg1 {
  position:absolute;
  left:113px;
  top:-10px;
  width:20px;
  height:20px;
}
#u314 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:524px;
  top:317px;
  width:100px;
  height:60px;
}
#u316 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  position:absolute;
  left:739px;
  top:146px;
  width:100px;
  height:60px;
}
#u318 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:625px;
  top:176px;
  width:0px;
  height:0px;
}
#u319_seg0 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:116px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u319_seg1 {
  position:absolute;
  left:101px;
  top:-10px;
  width:20px;
  height:20px;
}
#u320 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  position:absolute;
  left:931px;
  top:146px;
  width:100px;
  height:60px;
}
#u322 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:839px;
  top:176px;
  width:0px;
  height:0px;
}
#u323_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u323_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u324 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:739px;
  top:284px;
  width:100px;
  height:60px;
}
#u326 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:789px;
  top:206px;
  width:0px;
  height:0px;
}
#u327_seg0 {
  position:absolute;
  left:-39px;
  top:36px;
  width:78px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u327_seg1 {
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u328 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:839px;
  top:314px;
  width:0px;
  height:0px;
}
#u329_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u329_seg1 {
  position:absolute;
  left:44px;
  top:-121px;
  width:8px;
  height:125px;
}
#u329_seg2 {
  position:absolute;
  left:38px;
  top:-128px;
  width:20px;
  height:20px;
}
#u330 {
  position:absolute;
  left:-2px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:574px;
  top:206px;
  width:0px;
  height:0px;
}
#u331_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u331_seg1 {
  position:absolute;
  left:-10px;
  top:98px;
  width:20px;
  height:20px;
}
#u332 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  position:absolute;
  left:524px;
  top:443px;
  width:100px;
  height:60px;
}
#u334 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u335 {
  position:absolute;
  left:574px;
  top:377px;
  width:0px;
  height:0px;
}
#u335_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u335_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u336 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:67px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  position:absolute;
  left:507px;
  top:568px;
  width:133px;
  height:67px;
}
#u338 {
  position:absolute;
  left:2px;
  top:18px;
  width:129px;
  word-wrap:break-word;
}
#u339 {
  position:absolute;
  left:574px;
  top:503px;
  width:0px;
  height:0px;
}
#u339_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u339_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u340 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  position:absolute;
  left:739px;
  top:443px;
  width:100px;
  height:60px;
}
#u342 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u343 {
  position:absolute;
  left:640px;
  top:602px;
  width:0px;
  height:0px;
}
#u343_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u343_seg1 {
  position:absolute;
  left:145px;
  top:-99px;
  width:8px;
  height:103px;
}
#u343_seg2 {
  position:absolute;
  left:139px;
  top:-106px;
  width:20px;
  height:20px;
}
#u344 {
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u345 {
  position:absolute;
  left:574px;
  top:635px;
  width:0px;
  height:0px;
}
#u345_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u345_seg1 {
  position:absolute;
  left:-4px;
  top:11px;
  width:415px;
  height:8px;
}
#u345_seg2 {
  position:absolute;
  left:403px;
  top:-429px;
  width:8px;
  height:448px;
}
#u345_seg3 {
  position:absolute;
  left:397px;
  top:-436px;
  width:20px;
  height:20px;
}
#u346 {
  position:absolute;
  left:357px;
  top:-4px;
  width:100px;
  word-wrap:break-word;
}
#u347 {
  position:absolute;
  left:624px;
  top:473px;
  width:0px;
  height:0px;
}
#u347_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u347_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u348 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
